<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
body { background-color: #02111b; }
h1 { background-color: #02111b; }
</style>
<title>MY Blog</title>
{% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h2><a href="">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}

<h1 align="center"><font face="verdana" color="white">INFORMATION</font></h1>
<table align ="center" cellpadding="25">
<colgroup>
    <col span="1" style="background-color:black">
    <col style="background-color:black">
  </colgroup>
<tr>
    <th><font face="calibri" color="white">Information Type</font></th>
    <th><font  face="arial" color="white">Detail</font></th>
</tr>
<tr>
<th><font face="calibri" color="white">Name</font> </th>
<th><font face="arial" color="white">Tejas Kothari</font></th>
</tr>
<th><font face="calibri" color="white">Branch</font> </th>
<th><font face="arial"  color="white">Computer Science</font></th>
</tr>
<tr>
<th><font face="calibri" color="white">Year</font> </th>
<th><font face="arial"  color="white">2nd</font></th>
</tr>
</body>
</html>